.rec_box {
  background: burlywood;
  width: 1200px;
  min-height: 270px;
  margin: 0 auto;
  position: relative;
}
.rec_box .rec {
  float: left;
  width: 1010px;
  height: 266px;
  margin-bottom: 20px;
}
.rec_box .rec .rec_l {
  background-color: #f8f8f6;
  border-right: 1px solid #c2d58f;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  float: left;
  width: 123px;
  height: 264px;
  position: relative;
  z-index: 0;
}
.rec_box .rec .rec_l dl {
  height: 44px;
  float: left;
}
.rec_box .rec .rec_l dl dt {
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  text-align: center;
}
.rec_box .rec .rec_l dl dt a {
  font: 400 16px/44px "Microsoft YaHei";
  color: #626252;
  text-decoration: none;
  display: block;
  height: 44px;
  width: 123px;
  border-bottom: 1px solid #e5e5e5;
}
.rec_box .rec .rec_l dl dt a:hover {
  color: #78a000;
  background-color: #fff;
  border-top: 1px solid #c2d58f;
  border-bottom: 1px solid #c2d58f;
  border-left: 4px solid #91be16;
  width: 117px;
  padding-right: 4px;
}
.rec_box .rec .rec_l dl dd {
  border-top: 1px solid #c2d58f;
  position: absolute;
  top: -1px;
  left: 124px;
  z-index: 4;
  width: 885px;
  height: 265px;
}
.rec_box .rec .rec_l dl dd .rec_prc {
  width: 885px;
  height: 265px;
  float: left;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li {
  border-bottom: 1px solid #c2d58f;
  width: 176px;
  float: left;
  height: 264px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box {
  border: 4px solid #fff;
  width: 140px;
  height: 256px;
  padding: 0 14px;
  position: relative;
  transition: all 0.2s linear;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box p {
  display: block;
  margin-block-start: 15px;
  margin-block-end: 15px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .pic {
  margin-top: 15px;
  transition: all 0.2s linear;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .pic img {
  display: block;
  width: 140px;
  height: 140px;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .name {
  height: 38px;
  width: 140px;
  text-overflow: clip;
  display: block;
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.2s linear;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .name a {
  font: 400 14px/18px "Microsoft YaHei";
  color: #3e4141;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .name a font {
  height: 19px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .name a span {
  font: 400 12px/18px "Microsoft YaHei";
  color: #898989;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .price {
  font: 400 17px/25px "Microsoft YaHei";
  color: #ff6900;
  margin-top: 7px;
  transition: all 0.2s linear;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .price span {
  font: 400 12px/25px "Microsoft YaHei";
  color: #686c69;
  text-decoration: line-through;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .btn {
  position: absolute;
  top: 260px;
  left: 0;
  transition: all 0.2s linear;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .btn a {
  background: url(//image.benlailife.com/webStatic/images/btn_new_b1771e22.png) no-repeat -33px 0;
  width: 168px;
  height: 33px;
  display: block;
  text-decoration: none;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li .rec_l_box .btn .icn {
  background-position: center 0;
  cursor: pointer;
}
.rec_box .rec .rec_l dl dd .rec_prc ul li:hover p {
  margin-block-start: -33px;
  margin-block-end: -9px;
}
